<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
	<?include ../Includes.wxi?>

	<Fragment>
		<!-- Regs for shortcuts are defined in "Fragments/ShortcutProperties.wxs" -->
		<!-- Component that persists the property values to the registry so they are available during an upgrade/modify -->
		<DirectoryRef Id="INSTALLFOLDER_INNER">
			<Component Id="Product.Registry.InstallFolder" Guid="4f9f42ce-20b3-4eb9-84a9-a76d1a8c63fa">
				<RegistryKey Root="HKCR" Key="$(var.RegKeyRoot)">
					<RegistryValue Type="string" Name="INSTALLFOLDER" Value="[INSTALLFOLDER_INNER]" />
				</RegistryKey>
			</Component>

			<Component Id="Product.Registry.DefaultIcon" Guid="582ff1df-9586-44ad-b0a8-e104ae903f71">
				<RegistryKey Root="HKCR" Key="$(var.RegKeyRoot)\DefaultIcon">
					<RegistryValue Type="string" Value='"[INSTALLFOLDER_INNER]$(var.ExecutableName).exe",0' />
				</RegistryKey>
			</Component>

			<Component Id="Product.Registry.CommandPlay" Guid="92348ca6-fe36-46bb-b399-04531eec0911">
				<RegistryKey Root="HKCR" Key="$(var.RegKeyRoot)\shell" />
				<RegistryKey Root="HKCR" Key="$(var.RegKeyRoot)\shell\open" />
				<RegistryKey Root="HKCR" Key="$(var.RegKeyRoot)\shell\open\command">
					<RegistryValue Type="string" Value='"[INSTALLFOLDER_INNER]$(var.ExecutableName).exe" --play "%1"' />
				</RegistryKey>
			</Component>

			<Component Id="Product.Registry.URLProtocol" Guid="6a719614-1300-4335-b345-4488e97c0039">
				<RegistryKey Root="HKCR" Key="$(var.UriScheme)">
					<RegistryValue Type="string" Name="URL Protocol" Value="" />
				</RegistryKey>
			</Component>

			<Component Id="Product.Registry.Command" Guid="a9971f77-2f3a-4704-bf8d-acdcde0fa6ea">
				<RegistryKey Root="HKCR" Key="$(var.UriScheme)\shell" />
				<RegistryKey Root="HKCR" Key="$(var.UriScheme)\shell\open" />
				<RegistryKey Root="HKCR" Key="$(var.UriScheme)\shell\open\command">
					<RegistryValue Type="string" Value='"[INSTALLFOLDER_INNER]$(var.ExecutableName).exe" "%1"' />
				</RegistryKey>
			</Component>

			<!--For compatibility with registry values from previous versions-->
			<Component Id="Product.Registry.UninstallApp" Guid="2af1c3db-34df-4319-91bf-e909119270d7">
				<RegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\$(var.Product)" >
					<RegistryValue Type="string" Name="BuildDate" Value="$(var.BuildDate)" />
					<RegistryValue Type="string" Name="share_rdp" Value="" />

					<!--$ArpStart$-->
					<!--https://learn.microsoft.com/en-us/windows/win32/msi/property-reference-->
					<RegistryValue Type="string" Name="DisplayName" Value="VNTC RustDesk" />
					<RegistryValue Type="string" Name="DisplayIcon" Value="[INSTALLFOLDER_INNER]vntcrustdesk.exe" />
					<RegistryValue Type="string" Name="DisplayVersion" Value="1.4.6.29676582" />
					<RegistryValue Type="string" Name="Publisher" Value="VNTC" />
					<RegistryValue Type="string" Name="InstallDate" Value="20260605" />
					<RegistryValue Type="string" Name="InstallLocation" Value="[INSTALLFOLDER_INNER]" />
					<RegistryValue Type="string" Name="InstallSource" Value="[InstallSource]" />
					<RegistryValue Type="integer" Name="Language" Value="[ProductLanguage]" />
					<RegistryValue Type="integer" Name="EstimatedSize" Value="77917" />
					<RegistryValue Type="expandable" Name="ModifyPath" Value="MsiExec.exe /X [ProductCode]" />
					<RegistryValue Type="integer" Id="NoModify" Value="1" />
					<RegistryValue Type="expandable" Name="UninstallString" Value="MsiExec.exe /X [ProductCode]" />
					<RegistryValue Type="expandable" Name="QuietUninstallString" Value="MsiExec.exe /qn /X [ProductCode]" />
					<RegistryValue Type="string" Name="Version" Value="1.4.6.29676582" />
					<RegistryValue Type="integer" Name="VersionMajor" Value="1" />
					<RegistryValue Type="integer" Name="VersionMinor" Value="4" />
					<RegistryValue Type="integer" Name="VersionBuild" Value="6" />
					<RegistryValue Type="integer" Name="WindowsInstaller" Value="1" />
					<RegistryValue Type="string" Name="Comments" Value="!(loc.AR_Comment)" />
					<RegistryValue Type="string" Name="Contact" Value="https://github.com/rustdesk/rustdesk" />
					<RegistryValue Type="string" Name="HelpLink" Value="https://github.com/rustdesk/rustdesk/issues/" />
					<RegistryValue Type="string" Name="ReadMe" Value="https://github.com/rustdesk/rustdesk" />
					<!--$ArpEnd$-->
				</RegistryKey>
			</Component>
		</DirectoryRef>

	</Fragment>
</Wix>
